
<!-- Stripe -->
<script src="https://js.stripe.com/v3"></script>


<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Easier than rubbing a lamp!</h3>
          <button
            style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
            id="checkout-button-sku_FpgZEhl13Hdtv5"
            role="link"
          >
            Checkout
          </button>

        <div id="error-message"></div>
        <script>
          var stripe = Stripe('pk_live_GztShVdx5rB97teU0h3z0aRo00KYREIulj');

          var checkoutButton = document.getElementById('checkout-button-sku_FpgZEhl13Hdtv5');
          checkoutButton.addEventListener('click', function () {
            // When the customer clicks on the button, redirect
            // them to Checkout.
            stripe.redirectToCheckout({
              items: [{sku: 'sku_FpgZEhl13Hdtv5', quantity: 1}],

              // Do not rely on the redirect to the successUrl for fulfilling
              // purchases, customers may not always reach the success_url after
              // a successful payment.
              // Instead use one of the strategies described in
              // https://stripe.com/docs/payments/checkout/fulfillment
              successUrl: 'https://teeny-genie.com/success',
              cancelUrl: 'https://teeny-genie.com/canceled',
            })
            .then(function (result) {
              if (result.error) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, display the localized error message to your customer.
                var displayError = document.getElementById('error-message');
                displayError.textContent = result.error.message;
              }
            });
          });
        </script>
      </div>
    </div>
  </div>
</aside>
