<section id = "products">
  <div class="container">
    {% for product in site.data.products[site.env] %}
      <div class = "row">
        <h4>{{product.name}}</h4>
      </div>
      <div class = "row">
        {% for sku in product.skus %}
          <div class = "card">
            <img class="card-img-top" src="https://picsum.photos/200" alt="Card image">
              <div class="card-body">
              <h4 class="card-title">{{sku.name}}</h4>
              <p class="card-text">{{sku.description}}</p>
              <store-add :id="'{{sku.id}}'"></store-add>
              </div><!--body-->
          </div><!--card-->
        {% endfor %}
      </div><!--row-->
    {% endfor %}
  </div><!-- container-->
</section>
